.box1{
    height: 100px;
    width: 100px;
    background-color: #9A208C;
}
.box2{
    height: 100px;
    width: 100px;
    background-color:#FF6000;
}
.box3{
    height: 100px;
    width: 100px;
    background-color: #245953;
    
}