*{
   color: blue; 
}
div{
   background-color: aqua;
   margin-left: 30px;

}
p{
   font-size: 30px;
}
#p1{
      font-family: 'Courier New', Courier, monospace;
}
#p2{
   margin-left: 20px;
   background-color: yellowgreen;
}
.apara{
   background-color: lightcoral;
}
.bigpara{
   font-size: 50px;
}
